<!DOCTYPE html>
<html lang="en" style="margin:0;padding:0;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Reset</title>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="margin:0;padding:0;font-family:'Barlow', sans-serif;background-color:#0c0c13;color:#333; background-image: linear-gradient(#2727271c 1px, transparent 1px), linear-gradient(90deg, #2727271c 1px, transparent 1px); background-size: 80px 80px;">
  <table width="100%" cellspacing="0" cellpadding="0" style="background-color:#0c0c13;border-bottom:1px solid #15151e; ">
    <tr>
      <td align="center" style="padding:20px; display: flex; align-items: center; justify-content: center; flex-direction: row; ">
          <h2 style="color: #b3b3b3;">Nomuz</h2>
      </td>
    </tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" style="padding:40px 20px;">
        <h1 style="font-weight:600;font-size:24px;color:#ffffff;">Redefinir sua senha</h1>
        <p style="font-size:16px;color: #b3b3b3;;max-width:480px;margin:20px auto;">
          
Recebemos uma solicitação para redefinir sua senha. Clique no botão abaixo para prosseguir. Se você não solicitou a redefinição de sua senha, pode ignorar este e-mail com segurança.
        </p>
        <a href="{{resetLink}}" style="display:inline-block;background-color:#36577d;color:#ffffff;padding:12px 24px;border-radius:10px;font-weight:600;text-decoration:none;font-size:16px;margin-top:20px;">
          Redefinir sua senha
        </a>
      </td>
    </tr>
  </table>
  <table width="100%" cellspacing="0" cellpadding="0" style="margin-top:40px;background-color:#0c0c13;border-top:1px solid #15151e;">
    <tr>
      <td align="center" style="padding:20px;font-size:14px;color:#999;">
        &copy; 2025 Nomus. All rights reserved.
      </td>
    </tr>
  </table>
</body>
</html>
